{% extends "base.html" %}

<!-- подгружаем тэги wagtailcore_tags wagtailimages_tags -->
{% load static wagtailcore_tags wagtailimages_tags %}
<!-- подгружаем тэги wagtailcore_tags wagtailimages_tags -->

{% block body_class %}template-homepage{% endblock %}

        {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
        {% endblock extra_css %}

{% block content %}
        <!--{% include 'home/welcome_page.html' %}-->

<h1>{{ page.title }}</h1>

<!--обычные поля модели home-->
<h2>{{ page.subtitle }}</h2>
{% image page.bg_image fill-400x400-c100 as bgimage %}
<a href="{{ bgimage.url }}">Ссылка на изображение c alt {{ bgimage.alt }}</a>
<div>{{ page.rtf_body | richtext }}</div>
<!--обычные поля модели home-->

<!--streamfield поля модели home-->
<div>{% include_block page.body %}</div>
<div>{% include_block page.body.youtubeblock %}</div>
<!--streamfield поля модели home-->

{% endblock content %}
